@import "../index.css";
@import "./project.css";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 20px;
  padding-top: 80px;
}

.main img {
  width: 2rem;
  padding: 5px;
}

.main h1 {
  color: var(--primary-color-dark);
}

.main a {
  text-decoration: none;
}

.main ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.main li {
  margin: 0px;
  padding: 10px;
  width: 100%;
}

.media__link {
  padding: 10px;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  border-radius: 10px;
}

.media__link a {
  display: inline-block;
}

.github {
  background-color: white;
  color: black;
}

.linkedin {
  background-color: #0e76a8;
  color: white;
}

@media (max-width: 1115px) {
  .main {
    padding: 60px 0px 0px;
  }
  .main ul {
    padding: 0px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .main li {
    padding: 10px;
  }
}
