@import "./styles/navbar.css";
@import "./styles/stacks.css";
@import "./styles/about-me.css";

:root {
  font-family: Poppins;
  --primary-color: #0fce72;
  --primary-color-dark: #189458;
  --secondary-color: #1ba4ca;
  --nav-color: #212529;
  --nav-color-dark: #18191a;
  --font-color: white;
  --off-white-color: rgb(245, 245, 245);
}

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: var(--primary-color);
}
h2 {
  color: var(--secondary-color);
}

hr {
  border: none;
  height: 4px;
  background: var(--primary-color);
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  border-radius: 10px;
}

b {
  color: var(--primary-color-dark);
}

.main h2 {
  padding: 0px 20px;
}

@media (max-width: 1115px) {
  .main h2 {
    padding: 0px;
  }
}

.profile-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 50px;
}

.profile-image {
  margin-left: auto;
  height: 22rem;
  border-radius: 50%;
  padding: 20px;
  padding-right: 50px;
}
