:root {
  font-family: Poppins;
  --primary-color: #0fce72;
  --secondary-color: #1ba4ca;
  --nav-color: #212529;
  --font-color: white;
}

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: var(--primary-color);
}
h2 {
  color: var(--secondary-color);
}

hr {
  border: none;
  height: 4px;
  background: var(--primary-color);
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  border-radius: 10px;
}

.navbar {
  display: flex;
  padding: 5px 3%;
  background-color: var(--nav-color);
  color: var(--primary-color);
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 9px 6px -6px var(--nav-color);
  min-height: 50px;
}

.navbar-title {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: auto;
}

.navbar-links a {
  text-decoration: none;
  color: var(--primary-color);
}
.navbar-links {
  list-style: none;
}

.navbar-links li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar-links li a {
  transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
  color: var(--secondary-color);
}

.contact-me-button {
  padding: 9px 20px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--nav-color);
  background-color: rgba(15, 206, 114, 1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.contact-me-button:hover {
  background-color: rgba(15, 206, 114, 0.5);
}

.navbar-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
}

.navbar-menu .bar {
  height: 4px;
  width: 25px;
  background-color: var(--primary-color);
  border-radius: 20px;
}

@media (max-width: 1115px) {
  .navbar-menu {
    display: flex;
  }

  .navbar-links {
    display: none;
    padding-top: 10px;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar-title {
    padding: 18px 5px;
    margin-left: 0px;
  }

  .navbar-links ul {
    padding-left: 0%;
    background-color: var(--nav-color);
  }

  .navbar-links li {
    padding: 5px 0px;
    text-align: center;
    width: 100%;
  }

  .contact-me-button {
    color: var(--primary-color);
    background-color: var(--nav-color);
    border: none;
    border-radius: 0px;
  }

  .navbar-links.active {
    display: flex;
  }
}
