@import "./styles/navbar.css";
@import "./styles/stacks.css";
@import "./styles/about-me.css";
@import "./styles/profile.css";
@import "./styles/footer.css";

:root {
  font-family: Poppins;
  --primary-color: #0fce72;
  --primary-color-dark: #189458;
  --secondary-color: #1ba4ca;
  --nav-color: #212529;
  --nav-color-dark: #18191a;
  --font-color: white;
  --off-white-color: rgb(245, 245, 245);
}

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: var(--primary-color);
}
h2 {
  color: var(--secondary-color);
}

hr {
  border: none;
  height: 4px;
  background: var(--primary-color);
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  border-radius: 10px;
}

b {
  color: var(--primary-color-dark);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.main h2 {
  padding: 0px 20px;
}
.main {
  padding-top: 80px;
}

@media (max-width: 1115px) {
  .main h2 {
    padding: 0px;
  }

}
