.stacks {
  background-color: rgb(245, 245, 245);
  padding: 40px 40px;
}
.stacks ul {
  padding: 0px;
}

.stacks ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.stacks ul li img {
  height: 4rem;
}
