.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding: 50px 100px;
  background: var(--nav-color);
}

.profile-image {
  height: 25rem;
  padding: 20px;
  border-radius: 8%;
  margin-right: 5rem;
  margin-left: auto;
}

.designation {
  border: none;
  border-radius: 6px;
  height: fit-content;
  padding: 5px 20px;
}

.designation h1 {
  color: white;
  text-align: center;
  font-size: 3.2rem;
}

#designation:after {
  content: "";
  color: var(--nav-color-dark);
  animation: whatIAm 8s linear infinite;
}

@keyframes whatIAm {
  0% {
    color: var(--primary-color);
    content: "Software Engineer";
  }
  30% {
    content: "Automation Engineer";
    color: var(--secondary-color);
  }
  60% {
    content: "Web Developer";
    color: var(--primary-color);
  }
  100% {
    content: "Organizer";
    color: var(--secondary-color);
  }
}

@media (max-width: 1000px) {
  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0px;
    padding: 50px 0px;
  }

  .designation {
    width: 80%;
    height: auto;
  }

  .designation h1 {
    font-size: 5vw;
    color: white;
  }
  .profile-image {
    width: 60%;
    height: auto;
    margin: 0px;
    margin-top: 40px;
    padding: 0px;
  }
}
