.stacks {
  padding: 20px;
}
.stacks ul {
  padding: 0px;
}

.stacks ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.stacks ul li img {
  height: 3.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.stacks ul li p {
  text-align: center;
}

.skills {
  background-color: var(--off-white-color);
}
